.portfolio-container {
  padding: 1rem;
  color: #666;
  font-family: 'Poppins';
  font-weight: 400;
}

.portfolio-logo {
  display: flex;
}

.portfolio-logo h1 {
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}
