@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --brown: #261c15;
  --yellow: #eee0cb;
  --green: #4e6e58;
  --pink: #e56399;
  --red: ##d10000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/*
Correct the inability to style clickable types in iOS and Safari.
*/

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

body {
  color: rgb(var(--yellow));
  background-color: var(--brown);
}

/* Logo */
.text-transparent {
  color: rgba(0, 0, 0, 0.5);
}

.logo-text a {
  @apply bg-gradient-to-r from-yellow via-pink to-pink bg-clip-text text-transparent drop-shadow-md;
  text-decoration: none;
}

/* Button */
.bg-gray-333 {
  background-color: #333;
}

.bg-gray-555 {
  background-color: #555;
}

button.btn {
  @apply font-bold py-4 px-4 rounded-lg border-none;
  cursor: pointer;
}
button.btn.gray-333 {
  @apply bg-gray-333 text-yellow;
}
button.btn.gray-333:hover {
  @apply bg-gray-555 brightness-150;
}
button.btn.gray-333:active {
  @apply bg-gray-333 brightness-50 text-white relative top-1;
}
button.btn.gray-555 {
  @apply bg-gray-555 text-yellow;
}
button.btn.gray-555:hover {
  @apply bg-gray-555 brightness-150;
}
button.btn.gray-555:active {
  @apply bg-gray-333 brightness-50 text-white relative top-1;
}
button.btn-google {
  padding: 1rem 1rem 0.5rem;
}

.user-auth-forms {
  overflow: auto;
}

.user-auth-forms,
.input-fields {
  width: 100%;
}

.user-auth-forms input {
  @apply font-bold mb-4 py-4 px-4 rounded-lg border-none;
  font-size: inherit;
  width: 328px;
}
